<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Food</title>
  <link rel="stylesheet" href="/stylesheets/Master.css">
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li id="nav-brand">Hello Food</li>
        <li><a href="/items">Food List</a></li>
        <li><a href="/categories">Category List</a></li>
        <li><a href="/orders">Order List</a></li>
        <li><a href="/customers">Customer List</a></li>
        <li id="nav-user">User &#9207;</li>
      </ul>
    </nav>

    <input type="hidden" id="list-customer-name" value="<%= customer_name.join(",") %>">
    <input type="hidden" id="list-customer-phone" value="<%= customer_phone.join(",") %>">

    <div class="content">
      <h1>New Customer</h1>
      <form action="/customers/create" method="POST" onsubmit="return validateUniqueCustomer()">
        <table>
          <tr>
            <td class="w-25"><label for="name" class="form-label">Customer Name</label></td>
            <td>: <input type="text" id="name" class="text-field" name="customer-name" placeholder="Customer Name" required></td>
          </tr>
          <tr>
            <td class="w-25"><label for="phone" class="form-label">Customer Phone</label></td>
            <td>: <input type="text" id="phone" class="text-field" name="customer-phone" placeholder="Customer Phone Number" required></td>
          </tr>
        </table>
        <br><br>
        <button type="submit" class="btn btn-primary float-left">Create Customer</button>
      </form>
      <a href="/customers"><button class="btn btn-secondary ml-4">Back</button></a>
    </div>

    <footer>Clapie &#169; 2020</footer>
  </div>

  <script src="/javascripts/Validation.js"></script>
</body>
</html>
